$width: 0.1em;
$height: 0.25em;
$offset: 0.36em;
$multiplier: 18;
$duration: 83ms;
$step: 12;

@mixin boxShadow($factor) {
  $value: $multiplier * $factor + 8;
  box-shadow: 0 (-$offset) 0 rgb($value, $value, $value);
}

@keyframes csl-ios {
  0% {
    @include boxShadow(1);
  }
  100% {
    @include boxShadow(12);
  }
}

@mixin ani($delay) {
  animation: csl-ios ($duration * $step) (-$delay * $duration) infinite;
  animation-timing-function: inherit;
  animation-play-state: inherit;
}

.cssloading-ios {
  box-sizing: border-box;
  display: block;
  position: relative;
  font-size: 30px;
  width: 1em;
  height: 1em;
  animation-timing-function: steps($step, start);
  & > * {
    &, &:before, &:after {
      content: '';
      box-sizing: inherit;
      display: block;
      width: $width;
      height: $height;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$height/2;
      margin-left: -$width/2;
      border-radius: $width;
    }
    &:before {
      transform: rotate(30deg);
    }
    &:after {
      transform: rotate(60deg);
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transform: rotate(($i - 1) * 90deg);
        @include ani(15 - $i * 3);
        &:before {
          @include ani(14 - $i * 3);
        }
        &:after {
          @include ani(13 - $i * 3);
        }
      }
    }
  }
}